.text-bold-sm {
  font-weight: bold;
  font-size: clamp(0.5rem, 1vw + 0.1rem, 1rem);
}

.text-muted {
  color: var(--color-text-muted);
}

.text-accent-green{
  color: var(--color-accent-green);
}

/* #region Visual Studio UI Simulation - Top Decorative Elements */

.vs-toolbar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vs-toolbar-line {
  display: flex;
  align-items: center;
  height: 2.5vh;
}

.vs-toolbar-line button {
  height: 2.5vh;
  padding: 0 0.5vw; 
  line-height: 2.5vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  /*font-size: clamp(10px, 1.2vh, 20px);*/
  cursor: pointer;
}

@media screen and (max-width: 750px){
  .vs-toolbar-line button{
    font-size: clamp(10px, 1vh, 20px);
  }
}

.icon-button-row {
  display: flex;
  gap: 0 2px;
  height: 2.5vh;
}

.divider-vertical {
  height: 2.5vh;
  width: 1px;
  margin: 0 2px;
}

.divider-double-dotted {
  border-left: 1px dotted var(--color-text-muted);
  border-right: 1px dotted var(--color-text-muted);
}

.divider-single-solid {
  border-left: 1px solid var(--color-text-muted);
}

/* #region Buttons styles */
.btn-icon,
.btn-icon-double {
  background-color: var(--color-background);
}

.btn-icon svg{
  height: 2.5vh;
  width: auto;
}

.btn-icon-double {
  border: 1px solid var(--color-background);
  font-weight: bold;
  gap: 0;
}

.btn-icon-double svg{
  height: 2.3vh;
  width: auto;
}

.btn-muted {
  background-color: var(--color-background);
  border: none;
  color: var(--color-text-muted);
  font-weight: lighter;
}

.btn-icon-round {
  border-radius: 10px;
  border: 2px solid var(--color-text-muted);
}

.btn-icon-round.active {
  border: 2px solid var(--color-accent-cyan);
  color: var(--color-accent-cyan);
}

.btn-icon-dashed {
  border-radius: 3px;
  border: 2px dashed var(--color-text-muted);
  font-size: clamp(0.4rem, 0.8vw + 0.1rem, 0.9rem);
  width: clamp(1.8vw, 1vw + 0.1vw, 3.6vw);
}

.btn-icon-solid {
  border: 1px solid var(--color-background);
}

.btn-text-light {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-bg);
  font-weight: lighter;
  font-size: clamp(0.4rem, 0.8vw + 0.1rem, 0.9rem);
}

.btn-text-muted {
  background-color: var(--color-background);
  border: 1px solid var(--color-background);
  font-weight: lighter;
  font-size: clamp(0.4rem, 0.8vw + 0.1rem, 0.9rem);
  margin-left: 8px;
}

.btn-abc-check {
  border: none;
  background-color: var(--color-bg-button);
  cursor: pointer;
}
/* #endregion Buttons styles */

/* #endregion Visual Studio UI Simulation */






